<h1>ALL the users!</h1>


<table class="table">
<thead>
  <tr>
    <th>User Email</th>
    <th>Karma</th>
    <th>(UN)BANHAMMER</th>
    <th>ADMIN-ify</th>
  </tr>
</thead>

<% @users.each do |user|%>
<tbody>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.reputation_value_for(:karma) %></td>
    <% if user.banned? %>
      <td><%= button_to "UNBAN!!!!!", user_path(:id => user.id, banned: "unbanned"), method: "put", class: "btn btn-primary" %></td>
    <% else %>
      <td><%= button_to "BAN!!!!!", user_path(:id => user.id, banned: "banned"), method: "put", class: "btn btn-danger" %></td>
    <% end %>
    <% if user.admin? %>
      <td><%= button_to "de-admin", user_path(:id => user.id, admin: "de-admin"), method: "put", class: "btn btn-danger" %></td>
    <% else %>
      <td><%= button_to "admin", user_path(:id => user.id, admin: "admin"), method: "put", class: "btn btn-success" %></td>
    <% end %>
  </tr>
</tbody>
<%end%>
</table>