<div class="hero-unit"><h1>Hacker News 2.0.1</h1></div>

<table class="table">
<thead>
  <tr>
    <th>Vote</th>
    <th>Title</th>
    <th>URL</th>
    <th>Author</th>
    <th>Action</th>
    <th>Comments</th>
  </tr>
</thead>

<% @links.each do |link|%>
<tbody>
  <tr>
    <td>
       <%= pluralize link.reputation_value_for(:votes).to_i, "vote" %>
    <%= link_to "up", votes_path(:id => link.id, type: "up"), method: "post" %>
      | <%= link_to "down", votes_path(:id => link.id, type: "down"), method: "post" %></td>
    <td><%= link_to link.title, link.url %></td>
    <td><%= link_to link.url, link.url %></a></td>
    <td>Author: <%= link.user_id %></td>
    <td><% if user_signed_in? && current_user.id == link.user_id %>
      <div class="btn"><%= link_to "edit", edit_link_path(link) %></div></td>
        <% end %>
    <td><%= link_to "Comments", link %></td>
  </tr>
</tbody>
<%end%>
</table>

<%= paginate @links %>
