<div class="hero-unit"><h1>Hacker News 2.0.1</h1></div>

<table class="table">
<thead>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>Author</th>
    <th>Action</th>
  </tr>
</thead>

<% @links.each do |link|%>
<tbody>
  <tr>
    <td><%= link_to link.title, link.url %></td>
    <td><%= link_to link.url, link.url %></a></td>
    <td>Author: <%= link.user_id %></td>
    <td><div class="btn"><%= link_to "edit", edit_link_path(link) %></div></td>
  </tr>
</tbody>
<%end%>
</table>

<%= paginate @links %>
