<div class="hero-unit"><center><%= button_to "YOU MUST SUBMIT A LINK", new_link_path, method: "get", class: "btn btn-xtra-large btn-inverse" %></center></div>

<table class="table">
<thead>
  <tr>
    <th>Vote</th>
    <th>Title</th>
    <th>URL</th>
    <th>Author</th>
    <th>Action</th>
    <th>Comments</th>
    <%if user_signed_in? && current_user.admin?%><th>FLAG!!</th><%end%>
  </tr>
</thead>

<% @links.each do |link|%>
<tbody>
  <tr>
    <td>
       <%= pluralize link.reputation_value_for(:votes).to_i, "vote" %>
    <%= link_to "up", votes_path(:id => link.id, type: "up"), method: "post" %>
      | <%= link_to "down", votes_path(:id => link.id, type: "down"), method: "post" %></td>
    <td><%= link_to link.title, link.url %></td>
    <td><%= link_to link.url, link.url %></a></td>
    <td>Author: <%= link.user_id %></td>
    <td><% if user_signed_in? && current_user.id == link.user_id %>
      <%= button_to "edit", edit_link_path(link), :method=> "get", :class => "btn btn-primary"%>
        <% end %> </td>
    <td><%= link_to "Comments", link %></td>
    <%if user_signed_in? && current_user.admin?%>
      <td><% if link.invisible %>
        <%= button_to "make visible", link_path(:link => link, :id => link.id, type: "flag"), method: "put", :class => "btn btn-primary"%>
      <%else %>
        <%= button_to "make invisible", link_path(:link => link, :id => link.id, type: "flag"), method: "put", :class => "btn btn-danger"%>
      <% end %></td><%end%>
  </tr>

</tbody>
<%end%>
</table>

<%= paginate @links %>
