<div>
<h1><%= @parent.title%></h1>
<h2><%= link_to "#{@parent.url}", @parent.url%></h2>
by:<%= @parent.user_id%>
</div>

<h2>Comments</h2>
<table class = "table">
  <thead>
    <tr>
      <th>Vote</th>
      <th>Comment</th>
      <th>Created at</th>
      <th>Created by</th>
      <th>Subcomments</th>

    </tr>
  </thead>
  <tbody>
<% @link_comments.each do |comment| %>
  <tr>
    <td>
       <%= pluralize comment.reputation_value_for(:votes).to_i, "vote" %>
    <%= link_to "up", votes_path(:id => comment.id, :class => Comment, type: "up"), method: "post" %>
      | <%= link_to "down", votes_path(:id => comment.id, :class => Comment, type: "down"), method: "post" %></td>
    <td><%= comment.content%></td>
    <td><%= comment.created_at%></td>
    <td><%= comment.user_id %></td>
    <td><%= link_to "subcomments", comment%></td>
  </tr>

  <% Comment.where("commentable_type = 'Comment' AND commentable_id = #{comment.id}").find_with_reputation(:votes, :all, order: 'votes desc, created_at desc').each do |comment| %>
   <tr>

      <td>
         <%= pluralize comment.reputation_value_for(:votes).to_i, "vote" %>
      <%= link_to "up", votes_path(:id => comment.id, :class => Comment, type: "up"), method: "post" %>
        | <%= link_to "down", votes_path(:id => comment.id, :class => Comment, type: "down"), method: "post" %></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&#8594;<%= comment.content%></td>
      <td><%= comment.created_at%></td>
      <td><%= comment.user_id %></td>
      <td></td>

   </tr>



  <%end%>

<%end%>


  </tbody>
</table>



<%= render "shared/comment_form" %>