<div>
<h1><%= @parent.title%></h1>
<h2><%= link_to "#{@parent.url}", @parent.url%></h2>
by:<%= @parent.user_id%>
</div>

<h2>Comments</h2>
<table class = "table">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Created at</th>
      <th>Created by</th>
      <th>Subcomments</th>
    </tr>
  </thead>
  <tbody>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content%></td>
    <td><%= comment.created_at%></td>
    <td><%= comment.user_id %></td>
    <td><%= link_to "subcomments", comment%></td>
  </tr>
  </tbody>
<%end%>
</table>



<%= render "shared/comment_form" %>