<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <%= link_to "Home", root_path, id: "logo" %>
      <nav>
        <!-- <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul> -->

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li class="active"><%= link_to "Admin Page", users_path%>
              </li>
            <%end%>
            <li class="active"><%= link_to "#{current_user.email} (#{current_user.reputation_value_for(:karma)})", edit_user_registration_path %></li>
            <li class="active"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            </li>
          <% else %>
            <li class="active">
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li class="active">
            <%= link_to "Sign in", new_user_session_path %>
            </li>

          <% end %>
        </ul>

      </nav>
    </div>
  </div>
</header>