<!DOCTYPE html>
<html>
<head>
  <title>HnClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </header>

  <p class="notice"><%= notice %></p>
  <!-- <p class="alert"><%= alert %></p> -->

  <div id ="error_explanation">
    <% if flash[:message] %>
      <div class="alert alert-success"><%= flash[:message] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-error"><%= flash[:error] %></div>
    <% end %>
  </div>

<%= yield %>

<%= link_to "Submit a new link", new_link_path %>
</body>

<%= debug(params) if Rails.env.development? %>

</html>
